edit page
<form action="/games/<%= @artworks.first.category%>" method="POST">
  <ul>
    <% @artworks.each do |artwork| %>
      <li>
        <img src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/<%= artwork.image_id %>/tall.jpg">
        <div>
          <%= artwork.title %>
          <label for="Artwork-<%= artwork.id %>">Artist Name: </label>
          <input id="Artwork-<%= artwork.id %>" type="text" name="<%= artwork.id %>[<%= artwork.artist.id %>]">
        </div>
      </li>
    <% end %>
    
  </ul>
  <button value="Sumbmit">
  <%= hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token) %>
</form>