<div class="subheader">
  <h2><a href="/">GUESS THE ARTIST</a></h2>
</div>
<div class="wrapper">
  <p>SCORE: <%= @score_total %></p>
  <p>PERCENTAGE: <%= @percent %>%</p>
  <% @artworks.each do |artwork| %>
    <div class="artwork">
      <img src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/<%= artwork.image_id %>/tall.jpg">
      <div class="info">
        <p><%= artwork.title %></p>
        <p>Artist: <%= artwork.artist.name %></p>
        <p>Your guess was: <%= params["#{artwork.id}"] %></p>
      </div>
    </div>
  <% end %>
  
</div>

