<% score = 0 %>

<div class="wrapper">
  <% @artworks.each do |artwork| %>
    <div class="artwork">
      <img src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/<%= artwork.image_id %>/tall.jpg">
      <div class="info">
        <p><%= artwork.title %></p>
        <p>Artist: <%= artwork.artist.name %></p>
        <p>Your guess was: <%= params["#{artwork.id}"] %></p>
        <% if artwork.artist.name == params["#{artwork.id}"] %>
          <% score += 1 %>
        <% end %>
      </div>
    </div>
  <% end %>
  
</div>

<%= score %>
